
*{
  margin: 0;
  padding: 0;
}
.header{
  min-height: 100vh;
  width: 100;
  background-image: linear-gradient(rgba(9,4,30,0.7),rgba(9,4,30,0.7)),url("https://github.com/Jmain26/kiana.github.io/blob/main/image/usada_nousagi.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 150px;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display:inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}


.text-box h1 {
  font-size: 62px;

}

.text-box p{
  margin: 10px 0 40px;
  font-size: 24px;
  color: #fff;
}



.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transprent;
  position: relative;
  cursor: pointer;
}

nav .fa-solid{
  display: none;
}

.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;

}
.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media(max-width: 700px){
  .header{
    min-height: 200vh;
    width: 100;
    background-image: linear-gradient(rgba(9,4,30,0.7),rgba(9,4,30,0.7)),url("https://github.com/Jmain26/kiana.github.io/blob/main/image/usada_nousagi.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .text-box h1{
      font-size: 62px;

    }
    .nav-links ul li{
      display: block;
    }

    .nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -500px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }

    nav .fa-solid{
      display: block;
      color: #fff;
      margin: 10PX;
      font-size: 22PX;
      cursor: pointer;
    }

    .nav-links ul{
      padding: 30px;
    }
}


/* ---------------- course ----------------------*/

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}

p{
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #eff7fa;
  transform: 0,5s;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}

/* -------------- campus -----------------*/

.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img{
  width: 100%;
  display: block;
}

.layer{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: 0.5;

}

.layer:hover{
  background-color:rgba(154, 164, 255, 0.21);

}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: black;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}
.layer p {
  width: 100%;
  font-weight: 500;
  color: black;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover p{
  bottom: 30%;
  opacity: 1;
}





/* othersite */

.othersite{
  width: 100;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  border-radius: 0px;
  padding-bottom: 100px;
  background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)),url("https://github.com/Jmain26/kiana.github.io/blob/main/image/shock.jpg");

}
.othersite-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.othersite-col img{
  width: 80%;
  border-radius: 20px;
  background: #f44336;

}
.othersite-col:hover{
  background: rgba(0,0,0,0.0);
  border-radius: 20px;
}

.othersite-col p {
  padding: 1p;
  text-align: center;
}
.othersite-col h3{
  margin-top: 16x;
  margin-bottom: 15px;
  text-align: center;
}

.stuff{
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: 0.5;

}

.stuff:hover{
  min-height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  border-radius: 30px;
  background: rgba(0,0,0,0.0)
}
.stuff h3 {
  width: 100%;
  font-weight: 500;
  color: #eff7fa;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.stuff:hover h3{
  bottom: 60%;
  opacity: 1;
}
.stuff p {
  width: 80%;
  font-weight: 500;
  color: #eff7fa;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.stuff:hover p{
  bottom: 50%;
  opacity: 1;
}









/* source */

.source{
  margin: 100px auto;
  width: 30%;
  background-image: l,inear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("");
}

/* feedback */
.feedback{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.07),rgba(0,0,0,0.07)),url("https://github.com/Jmain26/kiana.github.io/blob/main/image/shock.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.feedback h1{
  color: #000000;
  padding-bottom: 100px;
}

.feed-btn{
  display: inline-block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transprent;
  position: relative;
  cursor: pointer;
}



.feed-btn:hover{
  border: 1px solid #000000;
  background: #eff7fa;
  transition: 1s;
}






